/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
/*#logo img{
	padding: 15px;
}*/

*{

}
body{
	background-image: url('../img/body-bg.svg');
	background-position: inherit;
	background-repeat: repeat;
	background-size: cover;
}


.dark .menu-link{
	color: white!important;
}
.dark #header-wrap{
	background-color: var(--primary-color);
}
	@media only screen and (max-width: 768px) {
 .blob1::after,.services-bg::after{
 	width: 100%!important;
 	clip-path: unset!important;
 }
 .menu-link{
	color: black!important;
 }
 .dark .sticky-header #header-wrap, .sticky-header.dark #header-wrap{
	background-color: var(--primary-color);
 }

 .products{
 	display: block!important;
 }
 .products-child{
 	margin-bottom: 20px;
 }
 .new-nav {
    padding: 0px 0px!important;
}

.choose-parent{
	position: static!important;
	transform: unset!important;
}
.custom-p{
	padding: 0px!important;
}


}

#logo img{
	height: 70px!important;
}
#logo,.menu-container{
	border: none!important;
}
/*.menu-link{
	padding: 0px 5px!important;
}*/

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px!important;
}}
.menu-container{
	gap: 20px;
}
.menu-item .sub-menu-trigger{
	top: 20px;
	line-height: 5px;
	height: 32px;
}
#header{
	border: none!important;

}
.sticky-header-shrink #header-wrap #logo img{
	height: 60px!important;
}
.gg{
	display: block;
	background-color: red!important;
}

:root {
  --primary-color: #0F1C5C;
  --secondary-color:#1ab8ea;
  --third-color:#0ec9ac;
  
 
}

::selection{
	background:var(--primary-color);
}

/*-----------------------------------------------------------------------------------*/
/*								scroll-bar*/
/*-----------------------------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f9f9f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*-----------------------------------------------------------------------------------*/
/*								scroll-bar-end*/
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*								overwrite*/
/*-----------------------------------------------------------------------------------*/
#top-bar{
	overflow: hidden;
	z-index: 111;
}
.menu-item:hover > .menu-link, .menu-item.current > .menu-link,.sub-menu-container .menu-item:hover > .menu-link{
	color:var(--primary-color);
}
.sub-menu-container, .mega-menu-content{
	border-top: 2px solid var(--primary-color);
}
#gotoTop:hover{
	background: var(--primary-color);
}
/*-----------------------------------------------------------------------------------*/
/*								overwrite-end*/
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*								universal-classes*/
/*-----------------------------------------------------------------------------------*/

/*.overlay{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background: black;
	margin: 25px 20px;
	z-index: -1;
}*/
.style-6 .menu-container > .menu-item > .menu-link::after, .style-6 .menu-container > .menu-item.current > .menu-link::after{
	border-top: 2px solid var(--primary-color);
}
.c-border-r{
	border-radius: 4px;
}
.ach-img{
	height: 60px;
	width: 60px;
	text-align: center;
	margin: auto;
	
}
.ach-img img{
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: center;
	
}
.side-border::before{
	content: "";
	position: absolute;
	display: block;
	width: 3px;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--secondary-color);
}

.b-border::after{
	content: "";
	position: absolute;
	display: block;
	bottom: -5px;
	left: 0;
	width: 150px;
	height: 2px;
	background: var(--primary-color);
}
.b-border-w::after{
	content: "";
	position: absolute;
	display: flex;
	bottom: -8px;
	/* left: 50%; */
	margin: auto;
	width: 150px;
	/* margin: auto; */
	height: 3px;
	background: white;
	left: 50%;
	transform: translate(-50%,-50%);
}

.b-border-a::after{
	content: "";
	position: absolute;
	display: flex;
	bottom: -3px;
	/* left: 50%; */
	margin: auto;
	width: 100%;
	/* margin: auto; */
	height: 2px;
	background: var(--primary-color);
	left: 50%;
	transform: translate(-50%,-50%);
}
.menu-link{
	border: 2px solid transparent;
	color: white;
}
.menu-link:hover{
	color: var(--primary-color)!important;
	border-bottom: 2px solid var(--primary-color);
}
.owl-carousel .owl-nav [class*=owl-]:hover {
    background-color: var(--primary-color) !important;
}
.back-trans{
	background:transparent!important;
}
.back-w{
	/* background: white!important; */
}
.back-grey{
	background: #F9F9F9!important;
}
.back-primary{
	background: var(--primary-color)!important;
}
.back-secondary{
	background: var(--secondary-color)!important;
}
.back-third{
	background: var(--primary-color)!important;
}
.back-forth{
	background: var(--primary-color)!important;
}
.back-fifth{
	background: var(--fifth-color);
}

.col-b{
	color: black!important;
}
.col-w{
	color: white!important;
}
.col-primary{
	color: var(--primary-color)!important;
}
.col-secondary{
	color: var(--secondary-color)!important;
}
.col-third{
	color: var(--third-color)!important;
}
.col-forth{
	color: var(--primary-color)!important;
}


.main-heading h1{
	font-size: 45px;
	
}
.main-heading{
	position: relative;
	z-index: 1;
}
.main-sub-heading h1{
	font-size: 30px!important;
}



/*-----------------------------------------------------------------------------------*/
/*								universal-classes-end*/
/*-----------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------*/
/*								home-page*/
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------*/

/*slider*/


.c-slider{
	position: absolute!important;
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.c-blob{
	/*position: absolute;

display: block;

top: 0;

right: 0;

width: 500px;

height: 500px;

border-radius: 50%;
transform: translate(0%,-50%);
*/
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: -50%;
	right: 0;
	/* transform: translate(20%,-50%); */
	transform: translate(50%,-50%);
}

.c-blob li:nth-child(1){

height: 150px;

width: 150px;

border-radius: 50%;

background: #0ec9ac4d;

position: absolute;

z-index: 1;
}
.c-blob li:nth-child(2){
	
height: 250px;
	
width: 250px;
	
border-radius: 50%;
	
background: #1ab8ea14;
	
position: absolute;
}
.c-blob li:nth-child(3){
	
height: 400px;
	
width: 400px;
	
border-radius: 50%;
	
background: #0f1c5c36;
}

.c-btn{
	background: var(--primary-color);
	padding: 10px 15px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 700;
}

  
  

.slider {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}

.slider.slick-initialized {
    visibility: visible;
    opacity: 1;    
}

.prev-arrow,.next-arrow{
	position: absolute;
	top: 50%;
	/* left: 0; */
	transform: translate(50%,-50%);
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 21px;
	padding: 10px;
	color: var(--primary-color);
/*	background: white;*/
	border-radius: 50%;
	z-index: 1;
/*	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;*/
}
.next-arrow{
	transform: translate(-50%,-50%);
	right: 0!important;
	left: unset!important;

}

/*slider-end*/

/*-------------------------------------*/

/*about-us*/

	.b-border-both::after{
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		top: -5px;
		left: 0;
		background: white;
	}

	.b-border-both::before{
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		bottom: -5px;
		left: 0;
		background: white;
	}
		.b-border-both-col::after{
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		top: -5px;
		left: 0;
		background: var(--primary-color);
	}

	.b-border-both-col::before{
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		bottom: -5px;
		left: 0;
		background: var(--primary-color);
	}



	.blob1::after{

content: "";

position: absolute;

display: block;

top: 0;

left: 0;

height: 100%;

width: 70%;

/* background: var(--primary-color); */
}
/*about-us-end*/

/*----------------------------------------*/

/*products*/
.products{display: flex;flex-wrap: wrap;gap: 20px;}
.products-child{
 position: relative;
 flex: 1 0 32%;
 background: white;
 margin: 10px;
/* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2),
                -8px -8px 10px rgba(255, 255, 255, 0.8);
                
 padding: 30px 20px; 
 overflow: hidden;}
.blob2{
	content: "";
	position: absolute;
	display: block;
	top: 15%;
	right: 15%;
	background: #dcebfe;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	transform: translate(50%,-50%);


}
.products-child img{

}

.products-child-inner{
	
display: flex;
	
justify-content: space-between;
	
position: relative;
flex-wrap: wrap;
	
z-index: 1212;
}

.products-child a{
	border-bottom: 2px solid var(--primary-color);
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  margin: auto;
}
.slick-dots li {
  margin: 0 0.25rem;
}
.slick-dots button {
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: grey;
  text-indent: -9999px;
}
.slick-dots li.slick-active button {
  background-color: var(--primary-color);
}

.prev1-arrow,.next1-arrow{
	position: absolute;
	top: 45%;
	/* left: 0; */
	transform: translate(-50%,-50%);
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 21px;
	padding: 10px;
	color: var(--primary-color);
/*	background: white;*/
	border-radius: 50%;
	z-index: 1;
/*	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;*/
}
.next1-arrow{
	transform: translate(50%,-50%);
	right: 0!important;
	left: unset!important;

}


/* Style 7
   ----------------------------- */
.seven h1,.seven2 h1 {
text-align: center;
    font-size:30px;
     font-weight:300;
     letter-spacing:1px;
    text-transform: uppercase;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.seven h1:after{
    content: " ";
    display: block;
    border-bottom: 1px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
    height: 5px;
   
    width: 50%;
 
}
.seven h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
    height: 5px;
    margin: 0 0 0 auto;
    width: 50%;
 
}
.seven2 h1:after{
    content: " ";
    display: block;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    height: 5px;
   
    width: 50%;
 
}
.seven2 h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    height: 5px;
    margin: 0 0 0 auto;
    width: 50%;
 
}
/*products-end*/


/*-----------------------------------------------------------------------------------------*/
/*--------------------------------------------------*/

/*milestones*/
.counter span{
	font-size: 40px;
	color: white;
}
/*milestones-end*/

/*-----------------------------------------------------------------------------------*/


/*testimonial*/
/*
.bg-blob::after{
	content: "";
	background: url('../images/blob.svg');
	position: absolute;
	display: block;
	bottom: 0;
	left:0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
*/
.test{

display: flex;

justify-content: center;
}
.test-child{
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
padding: 30px 60px;
background: white;
}
.test-child-img{

border-radius: 50%;

height: 120px;

width: 120px;

object-fit: cover;

object-position: center;

overflow: auto;

border: 7px solid var(--primary-color);
padding: 0;
}
.test-child-img img{
	
height: 100%;
	
width: 100%;
}



.center .slick-active {
  transform: scale(1.1);
}

/*testimonial-end*/

/*choose*/

.choose-card{

padding: 50px 20px;

border-radius: 4px;

overflow: hidden;
}
.choose-card::after{
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	background: black;

}

.choose-card-img img{
	height: 50px;
	width: 50px;
	margin-bottom: 5px;
}
.choose-card-img{
justify-content: center;
}
.choose-parent{

position: absolute;

bottom: 0;

left: 50%;

width: 100%;

/* height: 100%; */

transform: translate(-50%,0%);
}
.choose-img img{
	    height: 400px;
	    width: 100%;
	    object-fit: cover;
	    object-position: bottom;
}
/*choose-end*/

/*services*/
.custom-p{
	padding: 180px 0px;
}
.services-box{
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	background: white;
	/* color: white; */
	border-radius: 12px;
}
.services-bg::after{content: "";/* background: var(--secondary-color); */width: 100%;height: 100%;position: absolute;top: 0;left: 0;display: block;/* clip-path: polygon(0 0, 50% 0, 75% 100%, 0% 100%); */}

/*services-end*/

/*contact*/

.c-form{

}
.c-form input ,textarea{
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
border-radius: 4px;
border: none;
}
.c-form label{

}

.contact-bg::after{
content: "";
background: var(--primary-color);
width: 100%;
height: 25%;
position: absolute;
bottom: 0;
left: 0;
display: block;
}

.contact-img{ height: 100px;width: 100px;margin: auto;margin-bottom: 20px;position: absolute;top: 0;left: 50%;transform: translate(-50%,-50%);}
.contact-img img{
	height: 100%;
	width: 100%;
	object-position: center;
	object-fit: cover;
}

/*contact-end*/


/*-----------------------------------------------------------------------------------*/
/*								home-page-end*/
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*								about-page*/
/*-----------------------------------------------------------------------------------*/


.about-bg::after{
	content: "";
background: var(--secondary-color);
width: 50%;
height: 100%;
position: absolute;
bottom: 0;
left: 0;
display: block;
}

.about-img{

border-radius: 50%;

border: 2px solid white;

display: flex;

height: 70px;

width: 70px;

justify-content: center;

align-items: center;
}
.about-img img{

height: 50px;

width: 50px;

object-fit: cover;

object-position: center;

padding: 5px;
}

.c-foot ul li {
    display: flex;
    gap: 15px;
    align-items: baseline;
    padding: 2px 0px;
    font-size: 12px;
}
.c-foot ul{
list-style-type: none;
}

.c-foot ul li a {
    color: #555;
    display: flex;
    align-items: center;
    gap: 10px;
}
.right-border {
    border-right: 1px solid #e5e5e5;
    /* padding: 0px 20px; */
    /* padding-left: 0; */
}
.about-border{
	
border: 12px solid var(--primary-color);
	
padding:25px 20px;
	
border-radius: 4px;
}
.about-border::after{
	content: "";
	position: absolute;
	display: block;
	top: 58%;
	left: 56%;
	width: 100%;
	height: 100%;
	border: 8px solid var(--secondary-color);
	background: transparent;
	z-index: 1;
	transform: translate(-50%,-50%);
}

/*-----------------------------------------------------------------------------------*/
/*								about-page-end*/
/*-----------------------------------------------------------------------------------*/




/*-----------------------------------------------------------------------------------*/
/*								product-detail-page*/
/*-----------------------------------------------------------------------------------*/

.belt::after{
	content: "";
	position: absolute;
	display: block;
	top: 50%;
	left: 0;
	background: var(--secondary-color);
	width: 100%;
	height: 35%;
	transform: translate(0%,-50%);
	z-index: -1;
/*	clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);*/

}


/*-----------------------------------------------------------------------------------*/
/*								product-detail-page-end*/
/*-----------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------*/
/*								Services-page*/
/*-----------------------------------------------------------------------------------*/

.services-card{border-radius: 4px;border:1px solid white;padding: 40px 60px;text-align: center;box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;border-color: var(--bs-secondary);}
.services-img{



display: flex;
margin: auto;

height: 100px;

width: 100px;


}
.services-img img{
	height: 100%;

width: 100%;

object-fit: cover;

object-position: center;

padding: 5px;
}

.service-blob::after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 70%;
	border-left: 0;
	z-index: -1;
	height: 100%;
	border: 10px solid var(--primary-color);
}
/*-----------------------------------------------------------------------------------*/
/*								Services-page-end*/
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*								Contact-page*/
/*-----------------------------------------------------------------------------------*/


.map-responsive {
    height: 380px;
}



/*-----------------------------------------------------------------------------------*/
/*								Contact-page-end*/
/*-----------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------*/
/*								Career-page*/
/*-----------------------------------------------------------------------------------*/

.career-form{

}
.career-form form{
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
background: white;
padding: 40px;
margin-top: 40px;
border-radius: 4px;
}
.career-form form input{

border: none;

/* outline: honeydew; */

border-bottom: 1px solid #b5c1cd;

background: ;

background: #80808008;
}
.career-form form label{

}
.career-form form textarea{

}
.upload-img {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 5px; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
/*    outline: 1px solid var(--primary-color);*/
    border-radius: 4px;
    border: 1px solid #b5c1cd;
    padding: 8px 10px;
    cursor: pointer;
}
.upload-img img {
    width: 20px;
    height: 20px;
    /* margin-left: 5px; */
    /* margin-top: 5px; */
}
.upload-img input {
    display: none;
}

.radio-btn{
	border: 1px solid #b5c1cd!important;
}
.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color)!important;
    border-color: red;
}
.form-check-input:checked[type=radio]{
	background-image: unset!important;
}
.form-check-input:focus{
	box-shadow: none!important;
}
.center-blob::after{
	
	content: "";
/*	background: var(--primary-color);*/
	width: 100%;
	height: 100%;
	border-top: 10px solid var(--secondary-color);
	border-bottom: 10px solid var(--primary-color);
	border-left: 10px solid var(--primary-color);
	border-right: 10px solid var(--secondary-color);

	position: absolute;
	display: block;
	top: 0;
	left: 0;

}
/*-----------------------------------------------------------------------------------*/
/*								Career-page-end*/
/*-----------------------------------------------------------------------------------*/